BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173
VITE_BASE_URL=http://localhost:5173


CLOUDFLARE_D1_TOKEN=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_ACCOUNT_ID=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=